<th:block xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container mt-5">
        <h2 class="mt-5 mb-5">Welcome back.</h2>
        <div></div>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div th:insert="blocks/loginform :: login"></div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <span>Not register yet? Click </span><a href="/registration">here</a><span>.</span>
    </div>
    <div th:insert="blocks/footer.html"/>
    </div>
</th:block>
